@page
@model CaterMe.ViewModels.ResetPasswordFromEmail_VM
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Reset Password</title>
    </head>
    <body>
        <h1>Reset your password</h1>
        <form action="/api/accounts/ResetPasswordFromEmail" method="post">
            <input type="hidden" name="Token" value="@Request.Query["Token"]" />
            <input type="hidden" name="Email" value="@Request.Query["Email"]" />
            <table>
                <tr>
                    <td>
                        New Password
                    </td>
                    <td>
                        <input type="password" name="NewPassword" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Confirm Password
                    </td>
                    <td>
                        <input type="password" name="ConfirmPassword" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Reset" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
    </html>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Cater Me | Reset Password</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    @*<link rel="icon" href="../assets/img/favicon.ico" type="image/x-icon" />*@

    <!-- Fonts and icons -->
    <script src="../assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Montserrat:100,200,300,400,500,600,700,800,900"] },
            custom: { "families": ["Flaticon", "LineAwesome"], urls: ['../assets/css/fonts.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!-- CSS Files -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/ready.min.css">
</head>
<body class="login">
    <div class="wrapper wrapper-login">
        <div class="container container-login animated fadeIn">
            <h3 class="text-center">Reset Password</h3>
            <form id="reset-password-form" method="post" class="login-form">
                <input type="hidden" name="Token" value="@Request.Query["Token"]" />
                <input type="hidden" name="Email" value="@Request.Query["Email"]" />
                <div class="form-group form-floating-label">
                    <input id="NewPassword" asp-for="NewPassword" class="form-control input-border-bottom" required>
                    <label asp-for="NewPassword" class="placeholder">Password</label>
                    <div class="show-password">
                        <i class="flaticon-interface"></i>
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group form-floating-label">
                    <input id="ConfirmPassword" asp-for="ConfirmPassword" class="form-control input-border-bottom" required>
                    <label asp-for="ConfirmPassword" class="placeholder">Confirm Password</label>
                    <div class="show-password">
                        <i class="flaticon-interface"></i>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-action">
                    <button type="submit" class="btn btn-primary btn-rounded btn-login">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="../assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="../assets/js/plugin/sweetalert/sweetalert.min.js"></script>
    <script src="../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/ready.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        const form = document.getElementById("reset-password-form");
        const newPasswordEl = document.querySelector("#NewPassword")
        const confirmPasswordEl = document.querySelector("#ConfirmPassword")
        //form.addEventListener("submit", function (e) {
        //    e.preventDefault()
        //    console.log("submit")
        //    const newPassword = newPasswordEl.value;
        //    const confirmPassword = confirmPasswordEl.value;

        //    var formData = new FormData();
        //    formData.append("NewPassword", newPassword);
        //    formData.append("ConfirmPassword", confirmPassword);
        //    $.ajax({
        //        url: '/api/accounts/ResetPasswordFromEmail',
        //        type: 'POST',
        //        data: new FormData(this),
        //        processData: false,
        //        contentType: false,
        //        dataType: "json"
        //    }).done(function (result) {
        //        swal({
        //            title: 'Success',
        //            text: "Password has been reset succesfully",
        //            type: 'success',
        //            buttons: {
        //                confirm: {
        //                    text: 'OK',
        //                    className: 'btn btn-success'
        //                },

        //            }


        //        })
        //    //$.ajax({
        //    //    url: "/api/accounts/ResetPasswordFromEmail",
        //    //    type: 'POST',
        //    //    data: formData,
        //    //    processData: false,
        //    //    contentType: false,
        //    //    dataType: "json"
        //    //}).done(function (result) {
        //    //    swal({
        //    //        title: 'Success',
        //    //        text: "Password has been reset",
        //    //        type: 'success',
        //    //        buttons: {
        //    //            confirm: {
        //    //                text: 'OK',
        //    //                className: 'btn btn-success'
        //    //            },

        //    //        }
        //    //    })
        //    //}
        //})
        ////form.addEventListener("submit", function (e) {
        ////    e.preventDefault()
        ////    console.log("submit")
        ////    const newPassword = newPasswordEl.value;
        ////    const confirmPassword = confirmPasswordEl.value;

        ////    var formData = new FormData();
        ////    formData.append("NewPassword", newPassword);
        ////    formData.append("ConfirmPassword", confirmPassword);

        ////    $.ajax({
        ////        url: "/api/accounts/ResetPasswordFromEmail",
        ////        type: 'POST',
        ////        data: formData,
        ////        processData: false,
        ////        contentType: false,
        ////        dataType: "json"
        ////    }).done(function (result) {
        ////        swal({
        ////            title: 'Success',
        ////            text: "Password has been reset",
        ////            type: 'success',
        ////            buttons: {
        ////                confirm: {
        ////                    text: 'OK',
        ////                    className: 'btn btn-success'
        ////                },

        ////            }
        ////        })
        ////    }
        // })
        form.addEventListener("submit", function (e) {
            e.preventDefault()

            let newPassword = newPasswordEl.value;
            let confirmPassword = confirmPasswordEl.value;
            if (newPassword == "" || confirmPassword == "") {
                return
            }
            if (newPassword !== confirmPassword) {
                return
            }
            var formData = new FormData();
            formData.append("NewPassword", newPassword);
            formData.append("ConfirmPassword", confirmPassword);
            $.ajax({
                url: '/api/accounts/ResetPasswordFromEmail',
                type: 'POST',
                data: new FormData(this),
                processData: false,
                contentType: false,
                dataType: "json"
            }).done(function (result) {

                swal({
                    title: 'Success',
                    text: result.message,
                    type: 'success',
                    buttons: {
                        confirm: {
                            text: 'OK',
                            className: 'btn btn-success'
                        },

                    }
                })

            }).fail(function (result) {
                newPassword = ""
                confirmPassword = ""
                swal({
                    title: 'Fail',
                    text: result.responseJSON.message,
                    type: 'danger',
                    buttons: {
                        confirm: {
                            text: 'OK',
                            className: 'btn btn-danger'
                        },
                    }
                })

            })
        })
    </script>
</body>
</html>