@model CreateNewPassword

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>


    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <title>HookaTimes | Change Password</title>
    <link rel="icon" type="image/png" href="/FrontendAssets/images/favicon.png">
    <!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rubik:wght@400;500&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/FrontendAssets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/FrontendAssets/vendor/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/FrontendAssets/vendor/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="/FrontendAssets/vendor/photoswipe/default-skin/default-skin.css">
    <link rel="stylesheet" href="/FrontendAssets/css/style.css">
    <link rel="stylesheet" href="/FrontendAssets/css/style.ltr.css">
    <!-- font - fontawesome -->
    <link rel="stylesheet" href="/FrontendAssets/vendor/fontawesome/css/all.min.css">

</head>
<body>

<!-- site__body -->
<div class="site">
<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                     @*   <li class="breadcrumb-item">
                            <a href="/">Home</a>
                            <svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="/FrontendAssets/images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg>
                        </li>
                      
                        <li class="breadcrumb-item active" aria-current="page">Password</li>*@
                    </ol>
                </nav>
            </div>
            <div class="page-header__title">
                <h1>Change Password</h1>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="row">
             @*   <div class="col-12 col-lg-3 d-flex">


                    <partial name="/Views/Shared/Ecommerce/_AccountNavigationPartial.cshtml" />

                </div>*@

                <div class="col-12 col-lg-9 mt-4 mt-lg-0"  style="
    margin: auto auto;
">
                    <div class="card">
                        <div class="card-header">
                            <h5>Change Password</h5>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-12 col-lg-7 col-xl-6">
                                    <form id="passForm" asp-controller="Account" asp-action="ResetPasswordFromEmail" method="post" role="form">
                                        <input type="hidden" asp-for="Token" value="@ViewBag.token" />
                                        <input type="hidden" asp-for="Email" value="@ViewBag.Email" />
                                        <div class="form-group">
                                            <label asp-for="NewPassword" for="password-new">New Password</label>
                                            <input asp-for="NewPassword" type="password" class="form-control" id="password-new" placeholder="New Password">
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>

                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ConfirmPassword" for="password-confirm">Confirm Password</label>
                                            <input asp-for="ConfirmPassword" type="password" class="form-control" id="password-confirm" placeholder="Reenter New Password">
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                                        </div>
                                        <div class="form-group mt-5 mb-0">
                                            <button class="btn btn-primary" type="submit" id="btnsubmit">Change</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- site__body / end -->
</body>
</html>