@{
    ViewData["Title"] = "Order Hsitory";
}
@model List<OrderHistoryMVC_VM>

<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                            <svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="/FrontendAssets/images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg>
                        </li>
                        @*   <li class="breadcrumb-item">
                        <a href="">Breadcrumb</a>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                        <use xlink:href="/FrontendAssets/images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg>
                        </li>*@
                        <li class="breadcrumb-item active" aria-current="page">Order History</li>
                    </ol>
                </nav>
            </div>
            <div class="page-header__title">
                <h1>My Account</h1>
            </div>
        </div>
    </div>
    <div class="block">
          @if (Model.Count == 0)
        {
            <div class="not-found">
                <div class="not-found__content">
                    <h1 class="not-found__title">Your Invitation list is empty</h1>
                    <p class="not-found__text">We can't seem to find anything</p>
                    <a asp-controller="Home" asp-action="HookaProducts" class="btn btn-light">View Products</a>
                </div>
            </div>
        } else {
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3 d-flex">
                    <partial name="/Views/Shared/Ecommerce/_AccountNavigationPartial.cshtml" />

                </div>
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    <div class="card">
                        <div class="card-header">
                            <h5>Order History</h5>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-table">
                            <div class="table-responsive-sm">
                                <table  class="table is-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Order</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Count >0)
                                        {


                                            @foreach (var item in Model)
                                            {


                                                <tr>
                                                    @*<td><a href="account-order-details.html">#8132</a></td>*@
                                                    <td><a asp-controller="Account" asp-action="OrderDetails" asp-route-id="@item.Id">#@item.Id</a></td>
                                                    <td>@item.Date</td>
                                                    <td>@item.Status</td>
                                                    <td>@item.Total AED</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      @*  <div class="card-divider"></div>
                        <div class="card-footer">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link page-link--with-arrow" href="" aria-label="Previous">
                                        <svg class="page-link__arrow page-link__arrow--left" aria-hidden="true" width="8px" height="13px">
                                            <use xlink:href="/FrontendAssets/images/sprite.svg#arrow-rounded-left-8x13"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="">1</a></li>
                                <li class="page-item active"><a class="page-link" href="">2 <span class="sr-only">(current)</span></a></li>
                                <li class="page-item"><a class="page-link" href="">3</a></li>
                                <li class="page-item">
                                    <a class="page-link page-link--with-arrow" href="" aria-label="Next">
                                        <svg class="page-link__arrow page-link__arrow--right" aria-hidden="true" width="8px" height="13px">
                                            <use xlink:href="/FrontendAssets/images/sprite.svg#arrow-rounded-right-8x13"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>

