@{
    ViewData["Title"] = "Password";
    ViewBag.CurrentPageNav = "Password";
}
@model PasswordMVC_VM
<!-- site__body -->
<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                            <svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="/FrontendAssets/images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg>
                        </li>
                        @*  <li class="breadcrumb-item">
                        <a href="">Breadcrumb</a>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                        <use xlink:href="/FrontendAssets/images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg>
                        </li>*@
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </nav>
            </div>
            <div class="page-header__title">
                <h1>My Account</h1>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3 d-flex">


                    <partial name="/Views/Shared/Ecommerce/_AccountNavigationPartial.cshtml" />

                </div>
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    <div class="card">
                        <div class="card-header">
                            <h5>Change Password</h5>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-12 col-lg-7 col-xl-6">
                                    <form id="passForm" asp-controller="Account" asp-action="Password" method="post" role="form">
                                        <div class="form-group">
                                            <label asp-for="CurrentPassword" for="password-current">Current Password</label>
                                            <input asp-for="CurrentPassword" type="password" class="form-control" id="password-current" placeholder="Current Password">
                                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="NewPassword" for="password-new">New Password</label>
                                            <input asp-for="NewPassword" type="password" class="form-control" id="password-new" placeholder="New Password">
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>

                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ConfirmPassword" for="password-confirm">Re-Enter New Password</label>
                                            <input asp-for="ConfirmPassword" type="password" class="form-control" id="password-confirm" placeholder="Reenter New Password">
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                                        </div>
                                        <div class="form-group mt-5 mb-0">
                                            <button class="btn btn-primary" type="submit" id="btnsubmit">Change</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- site__body / end -->
