<div class="account-nav flex-grow-1">
                                <h4 class="account-nav__title">Navigation</h4>
                                <ul>
                                    <li class="account-nav__item ">
                                        <a href="account-dashboard.html">Dashboard</a>
                                    </li>
                                    <li class="account-nav_item  account-nav_item--active ">
                                        <a href="account-profile.html">Edit Profile</a>
                                    </li>
                                    <li class="account-nav__item ">
                                        <a href="account-orders.html">Order History</a>
                                    </li>
                                    <li class="account-nav__item ">
                                        <a href="account-order-details.html">Order Details</a>
                                    </li>
                                    <li class="account-nav__item ">
                                        <a href="account-addresses.html">Addresses</a>
                                    </li>
                                    <li class="account-nav__item ">
                                        <a href="account-edit-address.html">Edit Address</a>
                                    </li>
                                    <li class="account-nav__item ">
                                        <a href="account-password.html">Password</a>
                                    </li>
                                    <li class="account-nav__item ">
                                        <a href="account-login.html">Logout</a>
                                    </li>
                                </ul>
                            </div>