@using HookaTimes.DAL.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager;

  <!-- mobilemenu -->
    <div class="mobilemenu">
        <div class="mobilemenu__backdrop"></div>
        <div class="mobilemenu__body">
            <div class="mobilemenu__header">
                <div class="mobilemenu__title">Menu</div>
                <button type="button" class="mobilemenu__close">
                    <svg width="20px" height="20px">
                        <use xlink:href="/FrontendAssets/images/sprite.svg#cross-20"></use>
                    </svg>
                </button>
            </div>
            <div class="mobilemenu__content">
                <ul class="mobile-links mobile-links--level--0" data-collapse data-collapse-opened-class="mobile-links__item--open">
                                        <li class="mobile-links__item" data-collapse-item>
                        <div class="mobile-links__item-title">
                            <a href="#" class="mobile-links__item-link">Account</a>
                            <button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
                                <svg class="mobile-links__item-arrow" width="12px" height="7px">
                                    <use xlink:href="/FrontendAssets/images/sprite.svg#arrow-rounded-down-12x7"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="mobile-links__item-sub-links" data-collapse-content>
                            <ul class="mobile-links mobile-links--level--1">
                            @if (!SignInManager.IsSignedIn(User)) {
                                <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a asp-controller="Account" asp-action="Login" class="mobile-links__item-link">Login</a>
                                    </div>
                                </li>

                                <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a asp-controller="Account" asp-action="SignUp" class="mobile-links__item-link">SignUp</a>
                                    </div>
                                </li>
                            } else {
                                <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a asp-controller="Account" asp-action="EditProfile" class="mobile-links__item-link">Edit Profile</a>
                                    </div>
                                </li>
                                <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a asp-controller="Account" asp-action="Invitations" class="mobile-links__item-link">Invitations</a>
                                    </div>
                                </li>
                                <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a asp-controller="Account" asp-action="Favorites" class="mobile-links__item-link">Favorites</a>
                                    </div>
                                </li>
                                <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a asp-controller="Account" asp-action="OrderHistory" class="mobile-links__item-link">Order History</a>
                                    </div>
                                </li>
                                <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a asp-controller="Account" asp-action="Password" class="mobile-links__item-link">Password</a>
                                    </div>
                                </li>
                                 <li class="mobile-links__item" data-collapse-item>
                                <form id="logoutForm" method="post" asp-controller="Account" asp-action="Logout">
                                    <div class="mobile-links__item-title">
                                            <a class="mobile-links__item-link" id="logoutbtn">Logout</a>
                                    </div>

                                </form>
                                </li>
                                @*<li class="mobile-links__item" data-collapse-item>
                            <div class="mobile-links__item-title">
                            <a href="account-addresses.html" class="mobile-links__item-link">Address Book</a>
                            </div>
                            </li>*@
                             @*   <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a href="account-edit-address.html" class="mobile-links__item-link">Edit Address</a>
                                    </div>
                                </li>
                                <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a href="account-password.html" class="mobile-links__item-link">Change Password</a>
                                    </div>
                                </li>*@
                            }
                              
                             
                            </ul>
                        </div>
                    </li>

                    <li class="mobile-links__item" data-collapse-item>
                        <div class="mobile-links__item-title">
                            <a asp-controller="Home" class="mobile-links__item-link">Home</a>
                      
                        </div>
                        
                    </li>
                    <li class="mobile-links__item" data-collapse-item>
                        <div class="mobile-links__item-title">
                        <a asp-controller="Home" asp-action="HookaProducts" class="mobile-links__item-link">Hooka Products</a>

                        </div>
                    </li>
                    <li class="mobile-links__item" data-collapse-item>
                        <div class="mobile-links__item-title">
                        <a asp-controller="Home" asp-action="HookaProducts" class="mobile-links__item-link">Shop</a>
                            <button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
                                <svg class="mobile-links__item-arrow" width="12px" height="7px">
                                    <use xlink:href="/FrontendAssets/images/sprite.svg#arrow-rounded-down-12x7"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="mobile-links__item-sub-links" data-collapse-content>
                            <ul class="mobile-links mobile-links--level--1">
@*                                <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a href="shop-grid-3-columns-sidebar.html" class="mobile-links__item-link">Shop Grid</a>
                                        <button class="mobile-links__item-toggle" type="button" data-collapse-trigger>
                                            <svg class="mobile-links__item-arrow" width="12px" height="7px">
                                                <use xlink:href="/FrontendAssets/images/sprite.svg#arrow-rounded-down-12x7"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    @*<div class="mobile-links__item-sub-links" data-collapse-content>
                                        <ul class="mobile-links mobile-links--level--2">
                                            <li class="mobile-links__item" data-collapse-item>
                                                <div class="mobile-links__item-title">
                                                    <a href="shop-grid-3-columns-sidebar.html" class="mobile-links__item-link">3 Columns Sidebar</a>
                                                </div>
                                            </li>
                                            <li class="mobile-links__item" data-collapse-item>
                                                <div class="mobile-links__item-title">
                                                    <a href="shop-grid-4-columns-full.html" class="mobile-links__item-link">4 Columns Full</a>
                                                </div>
                                            </li>
                                            <li class="mobile-links__item" data-collapse-item>
                                                <div class="mobile-links__item-title">
                                                    <a href="shop-grid-5-columns-full.html" class="mobile-links__item-link">5 Columns Full</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                               <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a href="shop-list.html" class="mobile-links__item-link">Shop List</a>
                                    </div>
                                </li>*@
                                <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a asp-controller="Cart" asp-action="Index" class="mobile-links__item-link">Cart</a>
                                    </div>
                                </li>
                             @*   <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a href="cart-empty.html" class="mobile-links__item-link">Cart Empty</a>
                                    </div>
                                </li>*@
                            @*    <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a href="checkout.html" class="mobile-links__item-link">Checkout</a>
                                    </div>
                                </li>*@
                         @*       <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a href="order-success.html" class="mobile-links__item-link">Order Success</a>
                                    </div>
                                </li>*@
                                <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                    <a asp-controller="Wishlist" asp-action="Index" class="mobile-links__item-link">Wishlist</a>
                                    </div>
                                </li>
                                @*<li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a href="compare.html" class="mobile-links__item-link">Compare</a>
                                    </div>
                                </li>
                              <li class="mobile-links__item" data-collapse-item>
                                    <div class="mobile-links__item-title">
                                        <a href="track-order.html" class="mobile-links__item-link">Track Order</a>
                                    </div>
                                </li>*@
                            </ul>
                        </div>
                    </li>
                    <li class="mobile-links__item" data-collapse-item>
                        <div class="mobile-links__item-title">
                            <a asp-controller="Home" asp-action="HookaPlaces" class="mobile-links__item-link">Hooka places</a>

                        </div>
                       
                    </li>
                    <li class="mobile-links__item" data-collapse-item>
                        <div class="mobile-links__item-title">
                            <a asp-controller="Home" asp-action="HookaBuddies" class="mobile-links__item-link">Hooka Buddies</a>
                            
                        </div>
                    </li>
                    <li class="mobile-links__item" data-collapse-item>
                        <div class="mobile-links__item-title">
                        <a data-collapse-trigger asp-controller="BecomeAPartner" asp-action="Index" class="mobile-links__item-link">Become a partner</a>
                            
                        </div>
                        
                    </li>
                    <li class="mobile-links__item" data-collapse-item>
                        <div class="mobile-links__item-title">
                        <a data-collapse-trigger asp-controller="Careers" asp-action="Index" class="mobile-links__item-link">Careers</a>
                            
                        </div>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- mobilemenu / end -->