@{
    ViewData["Title"] = "Careers";
    ViewBag.CurrentPage = "Careers";
}

<style>
    .section {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 2.5em 5em;
    }

    .section.is--vacancies {
        padding: 2.5em 5em 7em 5em;
    }

    .vacancies-list-wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    ._1-6-h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1.6em;
        line-height: 1.23;
        font-weight: 600;
    }
    .vacancies-content-list {
        display: flex;
        width: 100%;
        margin-top: 2em;
        flex-direction: column;
        align-items: center;
    }
    .vacancies-content-top {
        margin-bottom: 1.7em;
        display: flex;
        width: 100%;
        padding-bottom: 1em;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 0.1em solid rgba(0, 0, 0, 0.5);
    }
    ._35col {
        width: 35%;
    }
    ._73col {
        width: 73%;
    }
    .list-title {
        font-size: 1.2em;
    }
    .div-block-36 {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .vacancie-name {
        font-size: 1.4em;
        font-weight: 500;
    }
    .vacancie-description-role {
        margin-bottom: 0px;
        font-size: 1.2em;
    }
</style>

<!-- site__body -->

<div class="block about-us">
    <div class="about-us__image"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="about-us__body">
                    <h1 class="about-us__title">Join Us</h1>
                    <p class="description-paragraph">
                        <strong
                            >If you are motivated active and creative, then you
                            have come to the right place!</strong
                        >
                        <strong
                            >HOOKA TIMES is continuously looking for young
                            talents to join its growing family.<br />‍ </strong
                        >Browse our current vacancies to see if you can find a
                        matching position for your career ambitions; or simply
                        send your C.V. to
                        <a href="mailto:hr@kookatimes.me" class="link"
                            >info@hookatimes.com</a
                        >
                        and we will inform you in case a fitting post opens up.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section is--vacancies">
    <div class="container">
        <div class="vacancies-list-wrap">
            <h2 class="_1-6-h2"><strong>CURRENT VACANCIES</strong></h2>
            <div class="vacancies-content-list">
                <div class="vacancies-content-top">
                    <div class="_35col">
                        <div class="list-title">Team</div>
                    </div>
                    <div class="_73col">
                        <div class="list-title">Role</div>
                    </div>
                </div>
                <div class="vacancies-content-bottom">
                    <div class="div-block-36">
                        <div class="_35col">
                            <h3 class="vacancie-name">Junior Web Developer</h3>
                        </div>
                        <div class="_73col">
                            <p class="vacancie-description-role">
                                Designing and implementing databases Developing
                                web and social media pages and applications
                                using ASP.NET, PHP, HTML, Javascript and CSS
                                Communicating and coordinating with other
                                team...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- site__body / end -->
