@{
    ViewData["Title"] = "Hook Products";
}


<style>

    .form-control.form-control-sm{
        margin-bottom:0px;
    }

    .shop-layout__content{
        width:100%;
    }

     @@media only screen and (max-width: 990px) {
        .block-products__list-item {
            width: 48% !important;
            margin: 1em 6px;
        }

        .get-app_inside-wrap {
            max-width: 100% !important;
        }
    }

    @@media only screen and (max-width: 580px) {
        .block-products__list-item {
            width: 100% !important;
            margin: 1em 6px;
        }
    }
     @@media only screen and (max-width: 374px) {
        .product-card__buttons {
            justify-content: top !important;
        }
    }



    .post-card__content.is--cuisines {
        color: #706f6f;
        font-size: 0.8em;
        line-height: 1.2;
        font-weight: 500;
    }

    .post-card__content.is--location {
        color: #9d9d9c;
        font-size: 0.8em;
        line-height: 1.2;
        font-weight: 500;
    }

    .post-card__info {
        display: flex;
        flex-direction: column;
        grid-column-gap: 0.3em;
        grid-row-gap: 0.3em;
    }

    .product-card{

        padding:1em;
    }

    .block-products__list-item{
 
    display: flex;
    width: 31.5% ;
    margin: 0.7em 6px !important;
}

.block-products[data-mobile-grid-columns="2"] .block-products__list-item .product-card--hidden-actions:hover {
    margin-bottom: 0px;
    }

    .block-products__list-item .product-card{
        max-height:100%;
    }
   .post-card__name a:hover {
    color: #ffd333;
}

 a:hover {
    color: #ffd333 !important;
    text-decoration: none;
}

</style>
   
<div class="site__body">
    
  @*site header*@
    <div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use
                                xlink:href="/FrontendAssets/images/sprite.svg#arrow-rounded-right-6x9"
                            ></use>
                        </svg>
                    </li>
                    @*
                    <li class="breadcrumb-item">
                        <a href="">Breadcrumb</a>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use
                                xlink:href="/FrontendAssets/images/sprite.svg#arrow-rounded-right-6x9"
                            ></use>
                        </svg>
                    </li>
                    *@
                    <li class="breadcrumb-item active" aria-current="page">
                        Hooka Products
                    </li>
                </ol>
            </nav>
        </div>
        <div class="page-header__title">
            <h1>Hooka Products</h1>
        </div>
    </div>
</div>

  @*body content*@
    <div class="container">
         <div class="shop-layout shop-layout--sidebar--start">

 

            <div class="shop-layout__content">
                <div class="block">
                    <div class="products-view">
                        <div class="products-view__options">
                            <div
                                class="view-options view-options--offcanvas--mobile"
                            >
                                <div class="view-options__filters-button">
                                    <button type="button" class="filters-button">
                                        <svg
                                            class="filters-button__icon"
                                            width="16px"
                                            height="16px"
                                        >
                                            <use
                                                xlink:href="/FrontendAssets/images/sprite.svg#filters-16"
                                            ></use>
                                        </svg>
                                        <span class="filters-button__title"
                                            >Filters</span
                                        >
                                        <span class="filters-button__counter"
                                            >3</span
                                        >
                                    </button>
                                </div>
                           
                                <div class="view-options__divider"></div>

                                <div class="view-options__control">
                                    <label for="">Sort By</label>
                                    <div>
                                        <select
                                            class="form-control form-control-sm"
                                            name=""
                                            id=""
                                        >
                                            <option value="">Price</option>
                                            <option value="">Name (A-Z)</option>
                                        </select>
                                    </div>
                                </div>
@*                                <div class="view-options__control">
                                    <label for="">Show</label>
                                    <div>
                                        <select
                                            class="form-control form-control-sm"
                                            name=""
                                            id=""
                                        >
                                            <option value="">12</option>
                                            <option value="">24</option>
                                        </select>
                                    </div>
                                </div>
*@                            </div>
                        </div>

                        <div
                            class="products-view__list products-list"
                            data-layout="grid-3-sidebar"
                            data-with-features="false"
                            data-mobile-grid-columns="2"
                        >
                            <div class="products-list__body">
                                <div class="block-products__list-item ">
                            <div class="product-card product-card--hidden-actions ">
                                <div class="product-card__buttons">
                                    <button style="padding:1.5em;" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="2.3em" height="2.3em" viewBox="0 0 36.242 28.383">
                                            <g id="Group_28" data-name="Group 28" transform="translate(-3361.077 -60.856)">
                                                <path id="Path_27" data-name="Path 27" d="M3396.975,65.154a.569.569,0,0,0-.447-.216h-27.885l-.779-3.419a.568.568,0,0,0-.554-.443h-5.443a.569.569,0,1,0,0,1.138h4.988l4.624,20.3a.569.569,0,0,0,.555.443h1.525a3.6,3.6,0,1,0,5.247,0h7.087a3.6,3.6,0,1,0,5.248,0h1.638a.57.57,0,0,0,0-1.139h-20.291l-.817-3.586h21.93a.569.569,0,0,0,.553-.436l2.927-12.159A.573.573,0,0,0,3396.975,65.154ZM3378.643,85.42a2.461,2.461,0,1,1-2.461-2.46A2.464,2.464,0,0,1,3378.643,85.42Zm12.335,0a2.461,2.461,0,1,1-2.461-2.46A2.464,2.464,0,0,1,3390.978,85.42ZM3379.513,77.1l-.841-4.941h7.215l-.877,4.941Zm-1.034-6.08-.842-4.941h9.328l-.876,4.941Zm-2-4.941.841,4.941h-7.3l-1.126-4.941Zm-6.2,6.08h7.231l.841,4.941h-6.947Zm22.865,4.941h-6.986l.877-4.941h7.3Zm1.464-6.08h-7.371l.876-4.941h7.684Z" fill="#030404" stroke="#030404" stroke-miterlimit="10" stroke-width="0.44"></path>
                                            </g>
                                        </svg>
                                    </button>
                                    <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">Add To Cart</button>
                                    <button style="padding:1.5em;" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 27.954 25.959">
                                            <path id="Path_28" data-name="Path 28" d="M3317.794,87.587c-5.289-2.942-13.555-10.584-13.216-17.371.35-7.012,9.327-10,13.216-2.691,3.89-7.306,12.867-4.321,13.217,2.691C3331.35,77,3323.084,84.645,3317.794,87.587Z" transform="translate(-3303.817 -62.486)" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="1.5" fill-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                    <button style="padding:1.5em;" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 28.098 29.753">
                                            <path id="Path_31" data-name="Path 31" d="M2737.652,1473.083a5.135,5.135,0,0,0-2.312.548,5.17,5.17,0,0,0-.972.636,5.23,5.23,0,0,0-.8.83l-1.983-1.107-1.983-1.108-1.984-1.108-1.983-1.107c.047-.134.088-.27.124-.408s.066-.279.09-.421.043-.287.055-.433.019-.293.019-.441-.006-.3-.019-.444-.031-.291-.056-.433-.055-.283-.092-.421-.078-.276-.126-.411l1.981-1.106,1.982-1.106,1.981-1.106,1.982-1.107a5.152,5.152,0,0,0,.8.836,5.239,5.239,0,0,0,.973.639,5.162,5.162,0,1,0-2.842-4.61c0,.149.006.3.018.445s.032.291.056.434.056.283.092.422.079.274.127.407l-1.98,1.107-1.98,1.106-1.98,1.106-1.98,1.106a5.153,5.153,0,0,0-6.1-1.62,5.193,5.193,0,0,0-2.749,2.748,5.157,5.157,0,0,0,0,4.016,5.17,5.17,0,0,0,5.972,3.01,5.118,5.118,0,0,0,1.109-.409,5.225,5.225,0,0,0,1.781-1.479l1.982,1.107,1.981,1.108,1.982,1.108,1.981,1.108c-.048.134-.09.272-.128.412s-.068.281-.094.425-.045.29-.058.437-.02.3-.02.446a5.159,5.159,0,0,0,8.812,3.649,5.145,5.145,0,0,0,1.513-3.649,5.127,5.127,0,0,0-.407-2.008,5.169,5.169,0,0,0-4.761-3.154Z" transform="translate(-2715.161 -1454.093)" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="0.878"></path>
                                        </svg>
                                    </button>                                </div> <div class="product-card__image product-image is--featured">
                                    <a href="product.html" class="product-image__body">  <img class="product-image__img is--featured" src="/FrontendAssets/images/products/3D Hooka_637639935443030602.png" alt="">
                                    </a>
                                </div>
                                <div class="product-card__info">
                                    <div class="product-card__name">
                                        <a href="product.html">HOOKA WITTY</a>
                                    </div>
                                    <div class="product-card__prices"> 75 AED </div>  
                                </div>                            </div>
                        </div>

                              <div class="block-products__list-item ">
                            <div class="product-card product-card--hidden-actions ">
                                <div class="product-card__buttons">
                                    <button style="padding:1.5em;" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="2.3em" height="2.3em" viewBox="0 0 36.242 28.383">
                                            <g id="Group_28" data-name="Group 28" transform="translate(-3361.077 -60.856)">
                                                <path id="Path_27" data-name="Path 27" d="M3396.975,65.154a.569.569,0,0,0-.447-.216h-27.885l-.779-3.419a.568.568,0,0,0-.554-.443h-5.443a.569.569,0,1,0,0,1.138h4.988l4.624,20.3a.569.569,0,0,0,.555.443h1.525a3.6,3.6,0,1,0,5.247,0h7.087a3.6,3.6,0,1,0,5.248,0h1.638a.57.57,0,0,0,0-1.139h-20.291l-.817-3.586h21.93a.569.569,0,0,0,.553-.436l2.927-12.159A.573.573,0,0,0,3396.975,65.154ZM3378.643,85.42a2.461,2.461,0,1,1-2.461-2.46A2.464,2.464,0,0,1,3378.643,85.42Zm12.335,0a2.461,2.461,0,1,1-2.461-2.46A2.464,2.464,0,0,1,3390.978,85.42ZM3379.513,77.1l-.841-4.941h7.215l-.877,4.941Zm-1.034-6.08-.842-4.941h9.328l-.876,4.941Zm-2-4.941.841,4.941h-7.3l-1.126-4.941Zm-6.2,6.08h7.231l.841,4.941h-6.947Zm22.865,4.941h-6.986l.877-4.941h7.3Zm1.464-6.08h-7.371l.876-4.941h7.684Z" fill="#030404" stroke="#030404" stroke-miterlimit="10" stroke-width="0.44"></path>
                                            </g>
                                        </svg>
                                    </button>
                                    <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">Add To Cart</button>
                                    <button style="padding:1.5em;" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 27.954 25.959">
                                            <path id="Path_28" data-name="Path 28" d="M3317.794,87.587c-5.289-2.942-13.555-10.584-13.216-17.371.35-7.012,9.327-10,13.216-2.691,3.89-7.306,12.867-4.321,13.217,2.691C3331.35,77,3323.084,84.645,3317.794,87.587Z" transform="translate(-3303.817 -62.486)" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="1.5" fill-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                    <button style="padding:1.5em;" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 28.098 29.753">
                                            <path id="Path_31" data-name="Path 31" d="M2737.652,1473.083a5.135,5.135,0,0,0-2.312.548,5.17,5.17,0,0,0-.972.636,5.23,5.23,0,0,0-.8.83l-1.983-1.107-1.983-1.108-1.984-1.108-1.983-1.107c.047-.134.088-.27.124-.408s.066-.279.09-.421.043-.287.055-.433.019-.293.019-.441-.006-.3-.019-.444-.031-.291-.056-.433-.055-.283-.092-.421-.078-.276-.126-.411l1.981-1.106,1.982-1.106,1.981-1.106,1.982-1.107a5.152,5.152,0,0,0,.8.836,5.239,5.239,0,0,0,.973.639,5.162,5.162,0,1,0-2.842-4.61c0,.149.006.3.018.445s.032.291.056.434.056.283.092.422.079.274.127.407l-1.98,1.107-1.98,1.106-1.98,1.106-1.98,1.106a5.153,5.153,0,0,0-6.1-1.62,5.193,5.193,0,0,0-2.749,2.748,5.157,5.157,0,0,0,0,4.016,5.17,5.17,0,0,0,5.972,3.01,5.118,5.118,0,0,0,1.109-.409,5.225,5.225,0,0,0,1.781-1.479l1.982,1.107,1.981,1.108,1.982,1.108,1.981,1.108c-.048.134-.09.272-.128.412s-.068.281-.094.425-.045.29-.058.437-.02.3-.02.446a5.159,5.159,0,0,0,8.812,3.649,5.145,5.145,0,0,0,1.513-3.649,5.127,5.127,0,0,0-.407-2.008,5.169,5.169,0,0,0-4.761-3.154Z" transform="translate(-2715.161 -1454.093)" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="0.878"></path>
                                        </svg>
                                    </button>                                </div> <div class="product-card__image product-image is--featured">
                                    <a href="product.html" class="product-image__body">  <img class="product-image__img is--featured" src="/FrontendAssets/images/products/3D Hooka_637639935443030602.png" alt="">
                                    </a>
                                </div>
                                <div class="product-card__info">
                                    <div class="product-card__name">
                                        <a href="product.html">HOOKA WITTY</a>
                                    </div>
                                    <div class="product-card__prices"> 75 AED </div>  
                                </div>                            </div>
                        </div>
                                                      <div class="block-products__list-item ">
                            <div class="product-card product-card--hidden-actions ">
                                <div class="product-card__buttons">
                                    <button style="padding:1.5em;" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="2.3em" height="2.3em" viewBox="0 0 36.242 28.383">
                                            <g id="Group_28" data-name="Group 28" transform="translate(-3361.077 -60.856)">
                                                <path id="Path_27" data-name="Path 27" d="M3396.975,65.154a.569.569,0,0,0-.447-.216h-27.885l-.779-3.419a.568.568,0,0,0-.554-.443h-5.443a.569.569,0,1,0,0,1.138h4.988l4.624,20.3a.569.569,0,0,0,.555.443h1.525a3.6,3.6,0,1,0,5.247,0h7.087a3.6,3.6,0,1,0,5.248,0h1.638a.57.57,0,0,0,0-1.139h-20.291l-.817-3.586h21.93a.569.569,0,0,0,.553-.436l2.927-12.159A.573.573,0,0,0,3396.975,65.154ZM3378.643,85.42a2.461,2.461,0,1,1-2.461-2.46A2.464,2.464,0,0,1,3378.643,85.42Zm12.335,0a2.461,2.461,0,1,1-2.461-2.46A2.464,2.464,0,0,1,3390.978,85.42ZM3379.513,77.1l-.841-4.941h7.215l-.877,4.941Zm-1.034-6.08-.842-4.941h9.328l-.876,4.941Zm-2-4.941.841,4.941h-7.3l-1.126-4.941Zm-6.2,6.08h7.231l.841,4.941h-6.947Zm22.865,4.941h-6.986l.877-4.941h7.3Zm1.464-6.08h-7.371l.876-4.941h7.684Z" fill="#030404" stroke="#030404" stroke-miterlimit="10" stroke-width="0.44"></path>
                                            </g>
                                        </svg>
                                    </button>
                                    <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">Add To Cart</button>
                                    <button style="padding:1.5em;" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 27.954 25.959">
                                            <path id="Path_28" data-name="Path 28" d="M3317.794,87.587c-5.289-2.942-13.555-10.584-13.216-17.371.35-7.012,9.327-10,13.216-2.691,3.89-7.306,12.867-4.321,13.217,2.691C3331.35,77,3323.084,84.645,3317.794,87.587Z" transform="translate(-3303.817 -62.486)" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="1.5" fill-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                    <button style="padding:1.5em;" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 28.098 29.753">
                                            <path id="Path_31" data-name="Path 31" d="M2737.652,1473.083a5.135,5.135,0,0,0-2.312.548,5.17,5.17,0,0,0-.972.636,5.23,5.23,0,0,0-.8.83l-1.983-1.107-1.983-1.108-1.984-1.108-1.983-1.107c.047-.134.088-.27.124-.408s.066-.279.09-.421.043-.287.055-.433.019-.293.019-.441-.006-.3-.019-.444-.031-.291-.056-.433-.055-.283-.092-.421-.078-.276-.126-.411l1.981-1.106,1.982-1.106,1.981-1.106,1.982-1.107a5.152,5.152,0,0,0,.8.836,5.239,5.239,0,0,0,.973.639,5.162,5.162,0,1,0-2.842-4.61c0,.149.006.3.018.445s.032.291.056.434.056.283.092.422.079.274.127.407l-1.98,1.107-1.98,1.106-1.98,1.106-1.98,1.106a5.153,5.153,0,0,0-6.1-1.62,5.193,5.193,0,0,0-2.749,2.748,5.157,5.157,0,0,0,0,4.016,5.17,5.17,0,0,0,5.972,3.01,5.118,5.118,0,0,0,1.109-.409,5.225,5.225,0,0,0,1.781-1.479l1.982,1.107,1.981,1.108,1.982,1.108,1.981,1.108c-.048.134-.09.272-.128.412s-.068.281-.094.425-.045.29-.058.437-.02.3-.02.446a5.159,5.159,0,0,0,8.812,3.649,5.145,5.145,0,0,0,1.513-3.649,5.127,5.127,0,0,0-.407-2.008,5.169,5.169,0,0,0-4.761-3.154Z" transform="translate(-2715.161 -1454.093)" fill="none" stroke="#231f20" stroke-miterlimit="10" stroke-width="0.878"></path>
                                        </svg>
                                    </button>                                </div> <div class="product-card__image product-image is--featured">
                                    <a href="product.html" class="product-image__body">  <img class="product-image__img is--featured" src="/FrontendAssets/images/products/3D Hooka_637639935443030602.png" alt="">
                                    </a>
                                </div>
                                <div class="product-card__info">
                                    <div class="product-card__name">
                                        <a href="product.html">HOOKA WITTY</a>
                                    </div>
                                    <div class="product-card__prices"> 75 AED </div>  
                                </div>                            </div>
                        </div>


                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>