@{
    ViewData["Title"] = "Hooka Products";

    ViewBag.CurrentPage = "Products";

}

@model List<Product_VM>
<style>
   
    
.block-products__list-item {
    transition: all .2s ease-in-out;
}

    .block-products__list-item:hover {
        transform: scale(1.07);
    }


    .product-image__img {
        height:100%;
    }

    .form-control.form-control-sm{
        margin-bottom:0px;
    }

    .shop-layout__content{
        width:100%;
    }

    @@media only screen and (max-width: 990px) {
        .block-products__list-item {
            width: 46% !important;
            margin: 1em 6px;
        }

        .get-app_inside-wrap {
            max-width: 100% !important;
        }
    }

    @@media only screen and (max-width: 580px) {
        .block-products__list-item {
            width: 100% !important;
            margin: 1em 6px;
        }
    }

    @@media only screen and (max-width: 374px) {
        .product-card__buttons {
            justify-content: top !important;
        }
    }



    .post-card__content.is--cuisines {
        color: #706f6f;
        font-size: 0.8em;
        line-height: 1.2;
        font-weight: 500;
    }

    .post-card__content.is--location {
        color: #9d9d9c;
        font-size: 0.8em;
        line-height: 1.2;
        font-weight: 500;
    }

    .post-card__info {
        display: flex;
        flex-direction: column;
        grid-column-gap: 0.3em;
        grid-row-gap: 0.3em;
    }

    .product-card {
        padding: 1em;
    }

    .block-products__list-item {
        display: flex;
        width: 23%;
        margin: 0.7em 6px !important;
    }

    .block-products[data-mobile-grid-columns="2"] .block-products__list-item .product-card--hidden-actions:hover {
        margin-bottom: 0px;
    }

    .block-products__list-item .product-card {
        max-height: 100%;
    }

    .post-card__name a:hover {
        color: #ffd333;
    }

    a:hover {
        color: #ffd333 !important;
        text-decoration: none;
    }

  .product-card__image{
        height:20em;
    }
    .product-image__img {
    height: 100% !important;
    object-fit: cover;
    width:100% !important;

}

.products-list[data-layout^=grid-] .product-card .product-card__image {
    padding: 0px;
}







</style>

<div class="site__body">

    @*site header*@
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb"  data-aos="fade-right">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                            <svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="/FrontendAssets/images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg>
                        </li>
                        @*
                        <li class="breadcrumb-item">
                        <a href="">Breadcrumb</a>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                        <use
                        xlink:href="/FrontendAssets/images/sprite.svg#arrow-rounded-right-6x9"
                        ></use>
                        </svg>
                        </li>
                        *@
                        <li class="breadcrumb-item active" aria-current="page">
                            Hooka Products
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="page-header__title" data-aos="fade-right">
                <h1>Hooka Products</h1>
            </div>
        </div>
    </div>

    @*body content*@
    <div class="container">
        <div class="shop-layout shop-layout--sidebar--start">



            <div class="shop-layout__content">
                <div class="block">
                    <div class="products-view">

                        <div class="products-view__list products-list"  data-aos="fade-up"
                             data-layout="grid-3-sidebar"
                             data-with-features="false"
                             data-mobile-grid-columns="2">
                            <div class="products-list__body">
                                @foreach (var item in Model)
                                {
                                    <partial name="../shared/Ecommerce/_HookaProductPartial.cshtml" model="item" />
                                }




                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

@section Scripts {
    <script type="module" src="~/FrontendAssets/js/add-to-cart.js"></script>
    <script  src="~/FrontendAssets/js/add-to-wishlist.js"></script>
}