@{
    ViewData["Title"] = "Invitations";
}

<style>
    .product-tabs__item:first-child {
    margin-left: 0px;
}
.post-card__content.is--cuisines {
    color: #706f6f;
    font-size: 0.8em;
    line-height: 1.2;
    font-weight: 500;
}

.wishlist__column--price {
  text-align: left; 
  padding-left: 18px;

}

.wishlist__column--stock {
    text-align: left;
    width:25%;
}

.wishlist__column--product{
    width:35%;
}
.wishlist__column--price{
    width:35%;
}


</style>

<div class="site__body">

    <div class="product-tabs product-tabs--sticky">
    <div class="product-tabs__list">
        <div class="product-tabs__list-body">
            <div class="product-tabs__list-container container">
                <a
                    href="#tab-description"
                    class="product-tabs__item product-tabs__item--active"
                    >Received</a
                >
                <a href="#tab-specification" class="product-tabs__item"
                    >Sent</a
                >
            </div>
        </div>
    </div>
    <div class="product-tabs__content">
        <div
            class="product-tabs__pane product-tabs__pane--active"
            id="tab-description"
        >
            <div class="block">
    <div class="container">
        <table class="wishlist">
            <thead class="wishlist__head">
                <tr class="wishlist__row">
                    <th class="wishlist__column wishlist__column--image" style=" text-align: start;">
                        Image
                    </th>
                    <th class="wishlist__column wishlist__column--stock" style=" text-align: start;">
                        Invite Buddy
                    </th>
                    <th class="wishlist__column wishlist__column--product" style=" text-align: start;">
                        Invite Info
                    </th>
                   
                    <th class="wishlist__column wishlist__column--price"style=" text-align: start;">
                       Invitation Date
                    </th>
                    <th class="wishlist__column wishlist__column--tocart"></th>
                    <th class="wishlist__column wishlist__column--remove"></th>
                </tr>
            </thead>
            <tbody class="wishlist__body">
                <tr class="wishlist__row">
                    <td class="wishlist__column wishlist__column--image">
                        <div class="product-image">
                            <a href="" class="product-image__body"
                                ><img
                                    class="product-image__img"
                                    src="images/products/product-1.jpg"
                                    alt=""
                            /></a>
                        </div>
                    </td>
                     <td class="wishlist__column wishlist__column--price">
                        <div >Buddy Name</div>
                    </td>

                    <td class="wishlist__column wishlist__column--product">
                        <a href="" class="wishlist__product-name"
                            >Restaurant Name</a
                        >
                        <div class="post-card__content is--cuisines"> You will pay for own food </div>
                    </td>
                    <td class=" wishlist__column wishlist__column--stock">
                        Sun,May 29 at 08:54:25
                    </td>
                    <td class="wishlist__column wishlist__column--tocart">
                        <button type="button" class="btn btn-primary btn-sm">
                            Accepted 
                        </button>
                    </td>
                    <td class="wishlist__column wishlist__column--remove">
                        <button
                            type="button"
                            class="btn btn-light btn-sm btn-svg-icon"
                        >
                            <svg width="12px" height="12px">
                                <use
                                    xlink:href="images/sprite.svg#cross-12"
                                ></use>
                            </svg>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

        </div>
                <div 
            class="product-tabs__pane product-tabs__pane--active"
            id="tab-specification"
        >
            <div class="block">
    <div class="container">
        <table class="wishlist">
            <thead class="wishlist__head">
                <tr class="wishlist__row">
                    <th class="wishlist__column wishlist__column--image" style=" text-align: start;">
                        Image
                    </th>

                    <th class="wishlist__column wishlist__column--product" style=" text-align: start;">
                       Place Name
                    </th>
                     <th class="wishlist__column wishlist__column--stock" style=" text-align: start;">
                        Buddies
                    </th>
                   

                    <th class="wishlist__column wishlist__column--tocart"></th>
                    <th class="wishlist__column wishlist__column--remove"></th>
                </tr>
            </thead>
            <tbody class="wishlist__body">
                <tr class="wishlist__row">
                    <td class="wishlist__column wishlist__column--image">
                        <div class="product-image">
                            <a href="" class="product-image__body"
                                ><img
                                    class="product-image__img"
                                    src="images/products/product-1.jpg"
                                    alt=""
                            /></a>
                        </div>
                    </td>
                     <td class="wishlist__column wishlist__column--product">
                        <a href="" class="wishlist__product-name"
                            >Restaurant Name</a
                        >
                    </td>
                     <td class="wishlist__column wishlist__column--price">
                        <div >2 buddies</div>
                    </td>

                   
                    
                    <td class="wishlist__column wishlist__column--tocart">
                        <button type="button" class="btn btn-primary btn-sm">
                            View Details
                        </button>
                    </td>
                    <td class="wishlist__column wishlist__column--remove">
                        <button
                            type="button"
                            class="btn btn-light btn-sm btn-svg-icon"
                        >
                            <svg width="12px" height="12px">
                                <use
                                    xlink:href="images/sprite.svg#cross-12"
                                ></use>
                            </svg>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

        </div>


    </div>
</div>


</div>