@{
    ViewData["Title"] = "Contact Us";
}

<style>
    .error {
        border:1px solid red;
    }

    .error:focus {
            border: 1px solid red;
    }

    @@media (max-width: 767px){
        .card-title {
            font-size: 1.3em !important;
     }
     
     .col-12{
         margin-top:3em;
     }
     .col-12.col-lg-6.pb-4.pb-lg-0{
        margin-top:0em;

     }
    }

    /*map*/
    .block-map {
    margin-bottom: 0px;
}

/*hero*/
.section.is--hero {
        padding-top: 5em;
    }

    .section {
        display: flex;
        padding: 2.5em 5em;
    }

    .became-partner-hero {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .became-partner_hero-banner {
        display: flex;
        width: 100%;
        padding-top: 0em;
        padding-bottom: 4em;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-row-gap: 0em;
        grid-column-gap: 0em;
        box-shadow: 10px 1px 20px #88888814;
    }

    .banner-h1 {
        font-size: 3.2em;
        line-height: 1.6;
        font-weight: 600;
        text-transform: uppercase;
    }

    .text-span {
        padding-left: 1.7em;
    }

    .became-partner-text-wrap {
        display: flex;
        width: 70%;
        margin-top: 5em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .became-partner-hero-paragraph {
        font-size: 1.3em;
        text-align: left;
    }
      @@media (max-width: 880px){
.text-span {
    padding-left: 0em;
}
.banner-h1 {
    font-size: 2.5em;
}
.became-partner-text-wrap {
    width: 100%;
    margin-top:2em;
   
}
.became-partner-card {
   
     padding: 0em !important; 
}
.became-partner_video-wrap {
    width: 70% !important;
}
.section.partner-form {
    width: 100% !important;
   
}

}

 @@media (max-width: 600px){




.became-partner_video-wrap {
    width: 100% !important;
}

.became-partner_hero-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-row-gap: 0em;
    grid-column-gap: 2em;
    box-shadow: none;
}
.section {
    padding: 2.5em 2.5em;
    
}
.became-partner-hero-paragraph {
    font-size: 1.1em;
}

.became-partner_intro-flex {
    display: flex;
    flex-direction: column !important;
  
}
.became-partner-card {
    width: 100% !important;
    
}
.became-partner-paragraph {
    font-size: 1em !important;
}
.form-horizontal-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    flex-direction: column !important;
}
.form-card_vertical-flex {
    width: 100% !important;
}
.section.is--vacancies {
    padding: 3em;
}
.div-block-36 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
._35col {
    width: 100%;
}
._73col {
    width: 100%;
}
.vacancie-description-role {
    font-size: 1em;
}
.banner-h1 {
    font-size: 1.8em;
}
}

</style>

<div class="site__body">
    
    <div class="section is--hero" data-aos="fade-up">
        <div class="container w-container">
            <div class="became-partner-hero">
                <div data-w-id="943e0fa8-9e89-a11f-471c-23168419f0ef" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="became-partner_hero-banner">
                    <h1 class="banner-h1">
                        <strong>we'd love to <br></strong>
                        <span class="text-span">
                            <strong> hear from you </strong>
                        </span>
                    </h1>
                    <img src="/FrontendAssets/images/svg/contact.png" >
                </div>
                
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="card mb-0">
                <div class="card-body contact-us">
                    <div class="contact-us__container">
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-4 pb-lg-0">
                                <h4 class="contact-us__header card-title">Our Address</h4>
                                <div class="contact-us__address">
                                    <p>
                                        Tayouneh, Omar Baytham Street, Al Salam Building,<br> 1st floor - P.O. Box 14-5307
                                    </p>
                                    <a style="color:#212529" href="mailto:info@hookatimes.com">
                                        <p>Email: info@hookatimes.com</p>
                                    </a>
                                    <a style="color:#212529" href="tel:+96181226679">
                                        <p>Phone Number: + 961 81 226 679</p>
                                    </a>
                                    @* <p>
                                    <strong>Opening Hours</strong><br>
                                    Monday to Friday: 8am-8pm<br>
                                    Saturday: 8am-6pm<br>
                                    Sunday: 10am-4pm
                                    </p>*@
                                    @* <p>
                                    <strong>Comment</strong><br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur suscipit suscipit mi, non
                                    tempor nulla finibus eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>*@
                                    <!-- social-links -->
                                    <div class="footer-newsletter__text footer-newsletter__text--social">
                                        Follow us on social networks
                                    </div>
                                    <div class="social-links footer-newsletter__social-links social-links--shape--circle">
                                        <ul class="social-links__list">
                                            <li class="social-links__item">
                                                <a class="social-links__link social-links__link--type--rss" href="#" target="_blank">
                                                    <i class="fas fa-rss"></i>
                                                </a>
                                            </li>
                                            <li class="social-links__item">
                                                <a class="social-links__link social-links__link--type--youtube" href="#" target="_blank">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            </li>
                                            <li class="social-links__item">
                                                <a class="social-links__link social-links__link--type--facebook" href="#" target="_blank">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="social-links__item">
                                                <a class="social-links__link social-links__link--type--twitter" href="#" target="_blank">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="social-links__item">
                                                <a class="social-links__link social-links__link--type--instagram" href="#" target="_blank">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- social-links / end -->
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <h4 class="contact-us__header card-title">Leave us a Message</h4>
                                <form id="contact-form" >
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="form-name">Your Name</label>
                                            <input required type="text" id="form-name" name="name" class="form-control" placeholder="Your Name" >
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="form-email">Email</label>
                                            <input required type="email" id="form-email" name="email" class="form-control" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="form-subject">Mobile</label>
                                        <input required pattern="[0-9]{8}$" title="Phone number should be 8 digits" type="text" id="form-subject" name="mobile" class="form-control" placeholder="Mobile">
                                    </div>
                                    <div class="form-group">
                                        <label for="form-message">Message</label>
                                        <textarea required id="form-message" name="message" class="form-control" rows="4"></textarea>
                                    </div>
                                    <button id="submit-btn" type="submit" class="btn btn-primary">Send Message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-map block">
        <div class="container">
        <div class="block-map__body">
            @*<iframe src='https://maps.google.com/maps?q=Holbrook-Palmer%20Park&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'></iframe>*@
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.4746176307663!2d35.47977231425605!3d33.87742843437159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f174a421aaaab%3A0x61b00970e5f8ed9f!2sGlobal%20Coalition%20for%20Efficient%20Logistics%20GCEL%20-%20MEA!5e0!3m2!1sen!2slb!4v1657880418547!5m2!1sen!2slb" frameborder='0' scrolling='no' marginheight='0' marginwidth='0'></iframe>
        </div>
    </div>
    </div>
</div>
@section Scripts {
    <script src="~/frontendassets/js/contactus.js"></script>
}