<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <title>HookaTimes | @ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="/FrontendAssets/images/favicon.png">
    <!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">
    <!-- css -->
    <link rel="stylesheet" href="/FrontendAssets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/FrontendAssets/vendor/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/FrontendAssets/vendor/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="/FrontendAssets/vendor/photoswipe/default-skin/default-skin.css">
    <link rel="stylesheet" href="/FrontendAssets/vendor/select2/css/select2.min.css">
    <link rel="stylesheet" href="/FrontendAssets/css/style.css">
    <link rel="stylesheet" href="/FrontendAssets/css/style.ltr.css">
    <!-- font - fontawesome -->
    <link rel="stylesheet" href="/FrontendAssets/vendor/fontawesome/css/all.min.css">
    <!-- font - stroyka -->
    <link rel="stylesheet" href="/FrontendAssets/fonts/stroyka/stroyka.css">
</head>
<body>

    <div class="site">
        <partial name="~/Views/Shared/Ecommerce/_MobileSiteHeaderPartial.cshtml" />
        <header class="site__header d-lg-block d-none">
            <div class="site-header">
                @*<partial name="~/Views/Shared/Ecommerce/_NavBarTopPartial.cshtml" />*@
                @*<partial name="~/Views/Shared/Ecommerce/_NavBarButtomPartial.cshtml" />*@
                @await Component.InvokeAsync("NavBarComp")
            </div>
        </header>
    @RenderBody()
        <partial name="~/Views/Shared/Ecommerce/_FooterPartial.cshtml" />
    </div>
     <partial name="~/Views/Shared/Ecommerce/_QuickViewContainerPartial.cshtml" />
     <partial name="~/Views/Shared/Ecommerce/_MobileMenuPartial.cshtml" />
     <partial name="~/Views/Shared/Ecommerce/_PhotoSwipePartial.cshtml" />
    @await RenderSectionAsync("Scripts", required: false)
        <!-- js -->
     <script src="/FrontendAssets/vendor/jquery/jquery.min.js"></script>
    <script src="/FrontendAssets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/FrontendAssets/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="/FrontendAssets/vendor/nouislider/nouislider.min.js"></script>
    <script src="/FrontendAssets/vendor/photoswipe/photoswipe.min.js"></script>
    <script src="/FrontendAssets/vendor/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="/FrontendAssets/vendor/select2/js/select2.min.js"></script>
    <script src="/FrontendAssets/js/number.js"></script>
    <script src="/FrontendAssets/js/main.js"></script>
    <script src="/FrontendAssets/js/header.js"></script>
    <script src="/FrontendAssets/vendor/svg4everybody/svg4everybody.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//sweetalert2.all.min.js"></script>
    <script>
        svg4everybody();
    </script>
</body>
</html>
