@{
    ViewData["Title"] = "Careers";
    ViewBag.CurrentPage = "Careers";
}

@model List<JobVacancy_VM>

<style>

    .section.is--hero {
        padding-top: 5em;
    }

    .section {
        display: flex;
        padding: 2.5em 5em;
    }

    .became-partner-hero {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .became-partner_hero-banner {
        display: flex;
        width: 100%;
        padding-top: 4em;
        padding-bottom: 4em;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-row-gap: 0em;
        grid-column-gap: 0em;
        box-shadow: 10px 1px 20px #88888814;
    }

    .banner-h1 {
        font-size: 3.2em;
        line-height: 1.6;
        font-weight: 600;
        text-transform: uppercase;
    }

    .text-span {
        padding-left: 1.7em;
    }

    .became-partner-text-wrap {
        display: flex;
        width: 70%;
        margin-top: 5em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .became-partner-hero-paragraph {
        font-size: 1.3em;
        text-align: left;
    }

   

    .section {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 2.5em 5em;
    }

        .section.is--vacancies {
            padding: 7em 5em 7em 5em;
        }

    .vacancies-list-wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    ._1-6-h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1.6em;
        line-height: 1.23;
        font-weight: 600;
    }

    .vacancies-content-list {
        display: flex;
        width: 100%;
        margin-top: 2em;
        flex-direction: column;
        align-items: center;
    }

    .vacancies-content-top {
        /*margin-bottom: 1.7em;*/
        display: flex;
        width: 100%;
        padding-bottom: 1em;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 0.1em solid rgba(0, 0, 0, 0.5);
    }

    ._35col {
        width: 35%;
    }

    ._73col {
        width: 73%;
    }

    .list-title {
        font-size: 1.2em;
    }

    .div-block-36 {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 1em;
        padding-top: 1em;
        border-bottom: 0.1em solid rgba(0, 0, 0, 0.5);
    }

    .vacancie-name {
        font-size: 1.4em;
        font-weight: 500;
    }

    .vacancie-description-role {
        margin-bottom: 0px;
        font-size: 1.2em;
    }


     @@media (max-width: 880px){
.text-span {
    padding-left: 0em;
}
.banner-h1 {
    font-size: 2.5em;
}
.became-partner-text-wrap {
    width: 100%;
    margin-top:2em;
   
}
.became-partner-card {
   
     padding: 0em !important; 
}
.became-partner_video-wrap {
    width: 70% !important;
}
.section.partner-form {
    width: 100% !important;
   
}

}

 @@media (max-width: 600px){


.banner-h1 {
    font-size: 1.8em;
}

.became-partner_video-wrap {
    width: 100% !important;
}

.became-partner_hero-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-row-gap: 2em;
    grid-column-gap: 2em;
    box-shadow: none;
}
.section {
    padding: 2.5em 2.5em;
    
}
.became-partner-hero-paragraph {
    font-size: 1.1em;
}

.became-partner_intro-flex {
    display: flex;
    flex-direction: column !important;
  
}
.became-partner-card {
    width: 100% !important;
    
}
.became-partner-paragraph {
    font-size: 1em !important;
}
.form-horizontal-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    flex-direction: column !important;
}
.form-card_vertical-flex {
    width: 100% !important;
}
.section.is--vacancies {
    padding: 3em;
}
.div-block-36 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
._35col {
    width: 100%;
}
._73col {
    width: 100%;
}
.vacancie-description-role {
    font-size: 1em;
}
}


</style>

<!-- site__body -->

    <div class="section is--hero" data-aos="fade-up">
        <div class="container w-container">
            <div class="became-partner-hero">
                <div data-w-id="943e0fa8-9e89-a11f-471c-23168419f0ef" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="became-partner_hero-banner">
                    <h1 class="banner-h1">
                        <strong>Start<br></strong>
                        <span class="text-span">
                            <strong> your career</strong>
                        </span>
                    </h1>
                    <img src="/FrontendAssets/images/svg/careers.png" >
                </div>
                <div data-w-id="0dcec016-f786-8e11-7f91-f693223e7046" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="became-partner-text-wrap">
                    <p class="became-partner-hero-paragraph">
 <strong>
                            If you are motivated active and creative, then you
                            have come to the right place!
                        </strong>
                        <strong>
                            HOOKA TIMES is continuously looking for young
                            talents to join its growing family.<br />‍
                        </strong>Browse our current vacancies to see if you can find a
                        matching position for your career ambitions; or simply
                        send your C.V. to
                        <a href="mailto:hr@kookatimes.me" class="link">info@hookatimes.com</a>
                        and we will inform you in case a fitting post opens up.                    </p>
                    
                </div>
            </div>
        </div>
    </div>



<div class="section is--vacancies">
    <div class="container">
        @if(Model.Count == 0) {
                <div class="not-found">
                    <div class="not-found__content">
                        <h1 class="not-found__title">No Job Vacancies Found</h1>
                        <p class="not-found__text">We don't have any job openings at the moment!. Please come back later.</p>
                        <a asp-controller="Home" class="btn btn-light">Go Back Home</a>
                    </div>
                </div>
            } else {
            <div class="vacancies-list-wrap" data-aos="fade-up">
                <h2 class="_1-6-h2"><strong>CURRENT VACANCIES</strong></h2>

                <div class="vacancies-content-list">
                    <div class="vacancies-content-top">
                        <div class="_35col">
                            <div class="list-title">Team</div>
                        </div>
                        <div class="_73col">
                            <div class="list-title">Role</div>
                        </div>
                    </div>
                    <div class="vacancies-content-bottom">
                        @foreach (var item in Model)
                        {
                            <div class="div-block-36">
                                <div class="_35col">
                                    <h3 class="vacancie-name">@item.Title</h3>
                                </div>
                                <div class="_73col">
                                    <p class="vacancie-description-role">
                                        @item.Description
                                    </p>
                                </div>
                            </div>
                        }

                    </div>
                </div>


            </div>
            }
   
    </div>
</div>

<!-- site__body / end -->
